/* Main */
.main {
  margin-top: var(--navHeight);
  padding: 0 1.625rem;
}

/* Note */
.note {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.note__wrapper {
  margin: 0 auto;
  max-width: 768px;
}

.note__title {
  font-size: var(--fs-xxl);
  color: var(--text-focal-color);
  font-weight: var(--fw-bold);
  text-align: center;
}

.note__form {
  margin-top: 2rem;
}

.noteInputGroup,
.titleInputGroup {
  margin-bottom: 2rem;
}

.titleInputGroup {
  background-color: var(--surface-color);
  padding: 2.4rem 2rem;
  border-radius: 25px;
  box-shadow: var(--shadow-bottom);
}

.headerNoteInputGroup {
  position: sticky;
  top: var(--navHeight);
  z-index: 99;
  background-color: var(--background-color);
  padding: 1rem 0;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitleInputGroup {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleTextInput {
  width: 100%;
  padding: 0.5em 1.2em;
  border-radius: 25px;

  border: none;
  outline: none;
  background-color: var(--field-color);

  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-focal-color);
}
.titleTextInput::placeholder {
  color: var(--text-common-color);
}

.inputNote {
  min-height: 360px;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  color: var(--text-focal-color);
  line-height: 1.8;
  overflow: hidden;

  font-size: var(--fs-m);
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 24.2px,
    var(--line-color) 24.2px,
    var(--line-color) 25.2px
  );
}

.maximumNote {
  margin: 6rem auto;
  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-common-color);
  text-align: center;
}
.maximumNote > b {
  color: var(--error-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .inputNote {
    min-height: 180px;
    font-size: var(--fs-l);
    background: repeating-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 31.7744px,
      var(--line-color) 31.7744px,
      var(--line-color) 32.7744px
    );
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
