/* Main Note */
.note {
  min-height: 100vh;
  padding: 2rem 0;

  display: grid;
}

.note__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 0 1.625rem;
}

.note__headBar {
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note__title {
  font-size: var(--fs-xxl);
  color: var(--text-focal-color);
  font-weight: var(--fw-bold);
  text-align: center;
}

.note__form {
  margin-top: 2rem;
}

.noteInputGroup,
.titleInputGroup {
  margin-bottom: 2rem;
}

.titleInputGroup {
  background-color: var(--surface-color);
  padding: 2.4rem 2rem;
  border-radius: 25px;
  box-shadow: var(--shadow-bottom);
}

.noteInputGroup {
  background-color: var(--background-color);
}

.headerNoteInputGroup {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitleInputGroup {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleTextInput {
  width: 100%;
  padding: 0.5em 1.2em;
  border-radius: 25px;

  border: none;
  outline: none;
  background-color: var(--field-color);

  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-focal-color);
}
.titleTextInput::placeholder {
  color: var(--text-common-color);
}

.inputNote {
  min-height: 180px;

  word-break: break-all;

  border: none;
  outline: none;
  color: var(--text-focal-color);
  line-height: 1.8;
  cursor: text;

  font-size: 1rem;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 24.2px,
    var(--line-color) 24.2px,
    var(--line-color) 25.2px
  );
}

.inputNote:empty:before {
  content: attr(data-placeholder);
  color: var(--text-common-color);
}

.maximumNote {
  margin: 6rem auto;
  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-common-color);
  text-align: center;
}
.maximumNote > b {
  color: var(--error-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .note {
    padding: 4rem 0;
    align-items: center;
  }

  .note__wrapper {
    padding: 0 2rem;
  }

  .inputNote {
    font-size: 1.138rem;
    background: repeating-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 31.7744px,
      var(--line-color) 31.7744px,
      var(--line-color) 32.7744px
    );
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
