/* Main Note */
.note {
  min-height: 100vh;
  padding: 2rem 0;

  display: grid;
}

.note__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 0 1.625rem;
}

.note__headBar {
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note__title {
  font-size: var(--fs-xxl);
  color: var(--text-focal-color);
  font-weight: var(--fw-bold);
  text-align: center;
}

.note__form {
  margin-top: 2rem;
}

.input__group {
  margin-bottom: 2rem;
}

.input__header {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__group {
  background-color: var(--surface-color);
  padding: 2.4rem 2rem;
  border-radius: 25px;
  box-shadow: var(--shadow-bottom);
}

.textarea__group {
  background-color: var(--background-color);
}

.note__formLimit {
  margin: 6rem auto;
  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-common-color);
  text-align: center;
}
.note__formLimit > b {
  color: var(--error-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .note {
    padding: 4rem 0;
    align-items: center;
  }

  .note__wrapper {
    padding: 0 2rem;
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
