/* Main */
.main {
  margin-top: var(--navHeight);
  padding: 2rem 1.625rem;
}

/* Detail  */

.detail {
  margin: 0 auto;
  max-width: 768px;

  min-height: 100vh;
}

.delete__wrapper {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.detail__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__additionalInfo {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__infoDate {
  display: flex;
  align-items: center;

  border: 1px solid blue;

  font-size: var(--fs-xs);
}

.iconTime {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
}

.detail__infoWordCount {
  font-size: var(--fs-xs);
}

.titleNote {
  margin: 2rem auto;
  color: var(--text-focal-color);
}

.bodyNote {
  font-size: var(--fs-m);
  color: var(--text-focal-color);
  line-height: 1.8;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 24.2px,
    var(--line-color) 24.2px,
    var(--line-color) 25.2px
  );
  white-space: pre-wrap;
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .main {
    padding: 4rem 2rem;
  }
  .detail {
    min-height: 65vh;
  }

  .bodyNote {
    background: repeating-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 31.7744px,
      var(--line-color) 31.7744px,
      var(--line-color) 32.7744px
    );
    font-size: var(--fs-l);
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
