/* Main Detail  */

.detail {
  min-height: 100vh;
}

.detail__wrapper {
  margin: 0 auto;
  max-width: 768px;
  padding: 2rem 1.625rem;
}

.detail__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__additionalInfo {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__infoDate {
  display: flex;
  align-items: center;

  border: 1px solid blue;

  font-size: var(--fs-xs);
}

.detail__infoWordCount {
  font-size: var(--fs-xs);
}

.detail__titleNote {
  margin: 2rem auto;
  font-size: var(--fs-xl);
  color: var(--text-focal-color);
}

.detail__bodyNote {
  font-size: var(--fs-m);
  color: var(--text-focal-color);
  line-height: 1.8;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 24.2px,
    var(--line-color) 24.2px,
    var(--line-color) 25.2px
  );
  white-space: pre-wrap;
  word-break: break-word;
}

.detail__action {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .detail {
    min-height: 60vh;
  }

  .detail__wrapper {
    padding: 4rem 2rem;
  }

  .detail__titleNote {
    font-size: var(--fs-xxl);
  }

  .detail__bodyNote {
    background: repeating-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 31.7744px,
      var(--line-color) 31.7744px,
      var(--line-color) 32.7744px
    );
    font-size: var(--fs-l);
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  @media (hover: hover) {
    /* when supported */
  }
}
