* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  min-width: var(--minWWidth);
  background-color: var(--background-color);
  color: var(--text-common-color);
  font-family: var(--font-quicksand);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lh-heading);
}

p,
span,
input,
textarea,
a {
  line-height: var(--lh-paragraph);
}

a {
  color: inherit;
}

input,
button,
textarea {
  font-family: var(--font-quicksand);
}

img {
  display: block;
  max-width: 100%;
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
