/* Main */
.main {
  margin-top: var(--navHeight);
}

.main__heading {
  position:fixed;
  left: 0;
  right: 0;
  height: var(--mainHeadingHeightMobile);
  z-index:998;
  background-color: var(--background-color);
}


.main__headingWrapper {
  margin:0 auto;
  max-width: var(--maxWidth);
  padding:0 1em;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.main__notelist {
  width: 100%;
  padding-top:var(--mainHeadingHeightMobile);
}

.main__notelistWrapper {
  max-width: var(--maxWidth);
  margin:0 auto;
  padding:0 1em;
}

  
/* Desktop */
/* Desktop */
@media only screen and (min-width: 768px) {

  .main__heading {
    height: var(--mainHeadingHeightDesktop);
  }
  .main__headingWrapper {
    padding:0 2em;

    flex-direction: row;
    justify-content:space-between;
  }

  .main__notelist {
    top: var(--mainHeadingHeightDesktop);
  }

  .main__notelistWrapper {
    padding:0 2em;
  }
  
}