/* Button */
.buttonLabel {
  border-radius: 12px;
  padding: 0.5rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
  line-height: 180%;
  background-color: var(--primary-color);
  color: var(--text-onprimary-color);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttonLabel:active {
  background-color: var(--tertiary-color) !important;
  color: var(--secondary-color) !important;
}

.buttonLabel:disabled {
  background-color: var(--line-color);
  color: var(--text-common-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  @media (hover: hover) {
    /* when supported */
    .buttonLabel:hover {
      background-color: var(--secondary-color);
      color: var(--tertiary-color);
      cursor: pointer;
    }

    .buttonLabel:disabled:hover {
      background-color: var(--line-color);
      color: var(--text-common-color);
      cursor: not-allowed;
    }
  }
}
