.buttonLinkIcon {
  border: 2px solid transparent;
  background: none;
  padding: 0.1em 0;

  font-weight: var(--fw-bold);
  font-size: 1em;

  transition: all 0.2s ease-in-out;

  display: flex;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
}

.buttonLinkIcon > svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}

.buttonLinkIcon:disabled {
  color: var(--disabled-color);
}

.primary {
  color: var(--primary-color);
}
.primary:active:not([disabled]) {
  border-bottom: 2px solid var(--primary-color);
}

.error {
  color: var(--error-color);
}
.error:active:not([disabled]) {
  border-bottom: 2px solid var(--error-color);
}

.secondary {
  color: var(--secondary-color);
}
.secondary:active:not([disabled]) {
  border-bottom: 2px solid var(--secondary-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  @media (hover: hover) {
    /* when supported */
    .buttonLinkIcon:hover:not([disabled]) {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
