.buttonIcon {
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.5em;
  border-radius: 50px;
  border: none;

  background-color: var(--primary-color);
  color: var(--text-onprimary-color);

  box-shadow: var(--shadow-bottom);
}

.buttonIcon:active:not([disabled]) {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
