.infoDate {
  display: flex;
  align-items: center;

  font-weight: var(--fw-reguler);
  font-size: var(--fs-xs);
}

.iconTime {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
