.inputTextArea {
  min-height: 320px;

  outline: none;
  border: 2px dashed var(--line-color);
  border-radius: 15px;

  width: 100%;
  resize: none;
  padding: 1.2em;

  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-focal-color);
  line-height: 1.8;

  background-color: var(--background-color);

  /* font-size: 14px; Manually, to disable Incerase font */
  /* background: repeating-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 24.2px,
      var(--line-color) 24.2px,
      var(--line-color) 25.2px
      ); */

  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inputTextArea:focus {
  border: 2px dashed var(--primary-color);
}

.inputTextArea::placeholder {
  color: var(--text-common-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .inputTextArea {
    min-height: 480px;

    /* font-size: 18.208px; Manually, to disable Incerase font */
    /* background: repeating-linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 31.7744px,
        var(--line-color) 31.7744px,
        var(--line-color) 32.7744px
      ); */
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
