.inputLabel {
  font-size: 1em;
  font-weight: var(--fw-semibold);
  color: var(--text-focal-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
