.remainingChar {
  color: var(--text-common-color);
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
}

.remainingChar > b {
  font-weight: var(--fw-semibold);
  color: var(--secondary-color);
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
