.articleCard {
  background-color: var(--surface-color);

  padding: 2.2em 2em;
  border-radius: 25px;

  position: relative;
  height: 280px;
}

.title {
  font-size: var(--fs-xl);
  margin-bottom: 1rem;
  font-weight: var(--fw-bold);
  color: var(--text-focal-color);
}

.titleUrl {
  text-decoration: none;
}

.titleUrl:active {
  text-decoration: underline;
}

.dateInfo {
  margin: 0.7rem auto;

  font-size: var(--fs-xs);
  font-weight: var(--fw-reguler);
  color: var(--text-common-color);
}

.iconTime {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.1rem;
}

.bodyText {
  margin: 1rem auto;
  font-size: var(--fs-m);
  font-weight: var(--fw-reguler);
  color: var(--text-focal-color);
  word-break: break-all;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.action {
  margin-top: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2em;
  bottom: 2.2em;
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .articleCard {
    height: 320px;
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
}
