.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--surface-color);
  box-shadow: var(--shadow-bottom);
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.625em;
  height: var(--navHeightMobile);
  max-width: var(--maxWidth);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personalization,
.account,
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.personalization {
  width: 100%;
  justify-content: space-between;
}

.accountName {
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-focal-color);
  font-weight: var(--fw-bold);
  font-size: var(--fs-m);
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

.menuItem {
  margin-right: 1rem;
}

.link {
  color: var(--text-common-color);
  font-size: var(--fs-m);
  font-weight: var(--fw-semibold);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link:active {
  text-decoration: underline;
}

.buttonLogout {
  border: none;
  color: var(--text-common-color);
  background: none;
  cursor: pointer;
}

.buttonLogout > svg {
  width: 1.25rem;
  height: 1.25rem;
}

.menuToggle {
  margin-left: 1rem;
  background: none;
  border: none;

  color: var(--text-common-color);
}

.menuToggle > svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 0 2em;
    height: var(--navHeight);
  }

  .accountName {
    max-width: 280px;
  }
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  .personalization {
    width: auto;
    justify-content: center;
    gap: 2rem;
  }

  .accountName {
    max-width: 180px;
  }

  .menu {
    display: flex;
  }

  .menuToggle {
    display: none;
  }

  @media (hover: hover) {
    /* when supported */

    .link:hover {
      color: var(--text-focal-color);
    }
    .buttonLogout:hover {
      color: var(--text-focal-color);
    }
  }
}
