.container {
  display: flex;
  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

.loadingText {
  font-size: var(--fs-m);
  font-weight: var(--fw-semibold);
  color: var(--text-common-color);
}
/* ================================================ */
/* Tablet Responsive */
@media only screen and (min-width: 768px) {
}

/* ================================================ */
/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  @media (hover: hover) {
    /* when supported */
  }
}
