.tablist {
    display: flex;
    align-items: center;
    padding:1.2em 0;
    border-bottom:1px solid var(--line-color);
}

.buttonTab {
    padding:1em 1.5em;
    
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color:var(--text-secondary-color);

    background: none;
    border:none;

    display:flex;
    align-items: center;
}

.buttonTab[aria-selected="true"] {
    color:var(--text-primary-color);
}

.iconBtn {
    width: 18px;
    height: 18px;
    margin-right: 0.5em;
}



/* Desktop Responsive */
/* Desktop Responsive */
@media only screen and (min-width: 768px) {

    .buttonTab {
        padding:1em 0;
        font-size: 1.1rem;
        margin-left: 1.5rem;
    }

    @media (hover: hover) { /* when supported */
        .buttonTab:hover {
            color:var(--text-primary-color);
            cursor: pointer;
        }
    }
}
   